/* Variable for colors/etc */
:root {
    --pale-pink: rgba(255, 246, 255); 
    --text-black: rgba(22, 23, 20);
    --text-white: #FFF;
    --neon-pink: #FF10F0;
    --footer-color: rgba(240, 208, 218);
    --border-color: rgba(172, 172, 172);

}

/* Universal Styling for Total Page */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Utility Classes */
.about-me .work-section .contact-me {
    display: flex;
    margin-right: 20%;
}

/* Body (full website) Section */
body {
    font-family:Arial, Helvetica, sans-serif;
    background-color: var(--pale-pink); 
}

/* Header/Navigation Section */
header {
    padding: 10px 25px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-color: var(--footer-color);
    z-index: 9999;
}

header h1 {
    font-weight: bold;
    font-size: 36px;
    color: var(--text-black);
    margin: 0;
    text-shadow: 0 0 10px rgba(221, 189, 221, 0.788);
    padding: 10;
}

header a {
    text-decoration: none;
    color: var(--text-black)
}

header nav {
    margin: 10px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    color: var(--text-black);
}

header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.25vw;
    text-shadow: 0 0 10px rgba(22, 23, 20, 0.5);
}

header nav ul li a:hover {
    color: var(--text-white);
    text-shadow:
        0 0 7px var(--text-white),
        0 0 10px var(--text-white),
        0 0 21px var(--text-white),
        0 0 42px var(--neon-pink),
        0 0 82px var(--neon-pink),
        0 0 92px var(--neon-pink),
        0 0 102px var(--neon-pink),
        0 0 151px var(--neon-pink);
}

/* Hero Section */
.hero-section {
    position: relative;
}

.img {
    width: 100%;
    max-height: auto;
    object-fit: fill;
    border-bottom: none;
}

.text-h2 {
    font-size: 56px;
    position: absolute;
    bottom: 42px;
    right: 16px;
}

.text-p {
    font-size: 26px;
    font-weight: lighter;
    position: absolute;
    bottom: 8px;
    right: 16px;
}


/* About Me Section */


/* Work References Section  */


/* Contact Me Section */
.contact-me {
    flex-direction: row;
    align-items: baseline;
}

.contact-me h2 {
    font-weight: bold;
    font-size: 56px;
    color: var(--text-black);
    margin: 50px;
    border-right: 5px solid var(--border-color);
}

.contact-me nav ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    
}

.contact-me nav ul li a {
    text-decoration: none;
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
}

/* Footer Section */
footer {
    background-color: var(--footer-color);
    width: 100%;
    padding: 10px 5px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

footer h2 {
    font-size: 2vw;
    margin: 0;
    color: var(--text-black);
}

footer p {
    line-height: 3.5;
    text-align: right;
}

/* Media Queries for Smaller Screen Sizes */


